@font-face {
    font-family: "Neue Montreal";
    src:
        url("../fonts/NeueMontreal-Medium.woff2") format("woff2"),
        url("../fonts/NeueMontreal-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Montreal";
    src:
        url("../fonts/NeueMontreal-SemiBold.woff2") format("woff2"),
        url("../fonts/NeueMontreal-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
